* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {-ms-touch-action: manipulation; touch-action: manipulation; -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-highlight: none; -webkit-tap-highlight-color: rgba(0,0,0,0); margin: 0}

[data-box=box]{display:-webkit-box;display:-ms-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;overflow:hidden;}
[data-box=box] > aside,[data-box=box] > section{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;}
[data-box=box] > aside > header,[data-box=box] > section > header,[data-box=box] > aside > footer,[data-box=box] > section > footer,[data-box=box] > aside > div > header,[data-box=box] > section > div > header,[data-box=box] > aside > div > footer,[data-box=box] > section > div > footer{-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;display:block;height:52px;line-height:52px;padding:0 1em}
[data-box=box] > aside article,[data-box=box] > section article{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;height:0}
[data-box=box] > aside{z-index:2;-webkit-box-flex:0;-moz-box-flex:0;-ms-box-flex:0;-o-box-flex:0;box-flex:0;min-width:224px;margin:0 !important;float:none !important;}
[data-box=box] > aside.absolute{position:absolute;height:inherit;}
[data-box=box] > aside.absolute:not(.right){-webkit-transform:translateX(-512px);-moz-transform:translateX(-512px);-ms-transform:translateX(-512px);-o-transform:translateX(-512px);transform:translateX(-512px)}
[data-box=box] > aside.absolute.right{-webkit-transform:translateX(512px);-moz-transform:translateX(512px);-ms-transform:translateX(512px);-o-transform:translateX(512px);transform:translateX(512px);right:0}
[data-box=box] > aside.absolute.active{-webkit-transform:translateX(0) !important;-moz-transform:translateX(0) !important;-ms-transform:translateX(0) !important;-o-transform:translateX(0) !important;transform:translateX(0) !important}
[data-box=box] > aside > div{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical}
[data-box=box] > section{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;z-index:0}

[data-box=box] ::-webkit-scrollbar{width:.25em;height:.25em;position:absolute}
[data-box=box] ::-webkit-scrollbar-button:vertical{background-color:none}
[data-box=box] ::-webkit-scrollbar-button:start:decrement,[data-box=box] ::-webkit-scrollbar-button:end:increment{display:block}
[data-box=box] ::-webkit-scrollbar-button:vertical:start:increment,[data-box=box] ::-webkit-scrollbar-button:vertical:end:decrement{display:none}
[data-box=box] ::-webkit-scrollbar-button:vertical:increment{display:none}
[data-box=box] ::-webkit-scrollbar-button:vertical:decrement{display:none}
[data-box=box] ::-webkit-scrollbar-button:horizontal:increment{display:none}
[data-box=box] ::-webkit-scrollbar-button:horizontal:decrement{display:none}
[data-box=box] ::-webkit-scrollbar-track:vertical{background-color:none}
[data-box=box] ::-webkit-scrollbar-track-piece:vertical:start{border:0}
[data-box=box] ::-webkit-scrollbar-track-piece:vertical:end{border:0}
[data-box=box] ::-webkit-scrollbar-track-piece{background-color:none}
[data-box=box] ::-webkit-scrollbar-thumb:vertical{height:1em;background-color:rgba(0,0,0,0.4)}
[data-box=box] ::-webkit-scrollbar-thumb:horizontal{height:1em;background-color:#808080}
[data-box=box] ::-webkit-scrollbar-corner:vertical{background-color:#000}
[data-box=box] ::-webkit-scrollbar-resizer:vertical{background-color:#808080}

.show-phone{display:none}
.show-tablet{display:none}
.show-screen{display:inherit}
.hide-phone{display:inherit}
.hide-tablet{display:inherit}
.hide-screen{display:none}
.full-height{height:100%; }

/* BOXES */
.box, .box-first, .box-large, .box-nested, .box-row {position: relative; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 1rem; margin-bottom: 0; overflow: hidden; }
.box-row {margin-bottom: 10px; }
.box-first {background: #06C; border-color: #007FFF; }
.box-nested {background: #036; border-color: #007FFF; }
.box-large {height: 8rem; }
.box, .box-first, .box-large, .box-nested, .box-row {min-width: 100%; }
/* /BOXES */


/* FLEXBOX GRID */

.grid {padding-right: 2rem; padding-left: 2rem; }
.row {-moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -0.5rem; margin-left: -0.5rem; }
.row .row {margin-right: 0rem; margin-left: 0rem; }
.row.reverse {-webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; -webkit-flex-wrap: row-reverse; -ms-flex-wrap: row-reverse; flex-wrap: row-reverse; }
.col.reverse {-webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-flex-wrap: column-reverse; -ms-flex-wrap: column-reverse; flex-wrap: column-reverse; }
.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12 {-moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; padding-right: 0.5rem; padding-left: 0.5rem; }
.col-xs {-webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
.col-xs-1 {-webkit-flex-basis: 8.333333333%; -ms-flex-preferred-size: 8.333333333%; flex-basis: 8.333333333%; max-width: 8.333333333%; }
.col-xs-2 {-webkit-flex-basis: 16.666666667%; -ms-flex-preferred-size: 16.666666667%; flex-basis: 16.666666667%; max-width: 16.666666667%; }
.col-xs-3 {-webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
.col-xs-4 {-webkit-flex-basis: 33.333333333%; -ms-flex-preferred-size: 33.333333333%; flex-basis: 33.333333333%; max-width: 33.333333333%; }
.col-xs-5 {-webkit-flex-basis: 41.666666667%; -ms-flex-preferred-size: 41.666666667%; flex-basis: 41.666666667%; max-width: 41.666666667%; }
.col-xs-6 {-webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
.col-xs-7 {-webkit-flex-basis: 58.333333333%; -ms-flex-preferred-size: 58.333333333%; flex-basis: 58.333333333%; max-width: 58.333333333%; }
.col-xs-8 {-webkit-flex-basis: 66.666666667%; -ms-flex-preferred-size: 66.666666667%; flex-basis: 66.666666667%; max-width: 66.666666667%; }
.col-xs-9 {-webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
.col-xs-10 {-webkit-flex-basis: 83.333333333%; -ms-flex-preferred-size: 83.333333333%; flex-basis: 83.333333333%; max-width: 83.333333333%; }
.col-xs-11 {-webkit-flex-basis: 91.666666667%; -ms-flex-preferred-size: 91.666666667%; flex-basis: 91.666666667%; max-width: 91.666666667%; }
.col-xs-12 {-webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
.col-xs-offset-1 {margin-left: 8.333333333%; }
.col-xs-offset-2 {margin-left: 16.666666667%; }
.col-xs-offset-3 {margin-left: 25%; }
.col-xs-offset-4 {margin-left: 33.333333333%; }
.col-xs-offset-5 {margin-left: 41.666666667%; }
.col-xs-offset-6 {margin-left: 50%; }
.col-xs-offset-7 {margin-left: 58.333333333%; }
.col-xs-offset-8 {margin-left: 66.666666667%; }
.col-xs-offset-9 {margin-left: 75%; }
.col-xs-offset-10 {margin-left: 83.333333333%; }
.col-xs-offset-11 {margin-left: 91.666666667%; }
.start-xs {-webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; text-align: start; }
.center-xs {-webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
.end-xs {-webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; text-align: end; }
.top-xs {-webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
.middle-xs {-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.bottom-xs {-webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
.around-xs {-webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.between-xs {-webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.first-xs {-webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
.last-xs {-webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

@media only screen and (min-width: 48em) {
  .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12 {-moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; padding-right: 0.5rem; padding-left: 0.5rem; }
  .col-sm {-webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-sm-1 {-webkit-flex-basis: 8.333333333%; -ms-flex-preferred-size: 8.333333333%; flex-basis: 8.333333333%; max-width: 8.333333333%; }
  .col-sm-2 {-webkit-flex-basis: 16.666666667%; -ms-flex-preferred-size: 16.666666667%; flex-basis: 16.666666667%; max-width: 16.666666667%; }
  .col-sm-3 {-webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-sm-4 {-webkit-flex-basis: 33.333333333%; -ms-flex-preferred-size: 33.333333333%; flex-basis: 33.333333333%; max-width: 33.333333333%; }
  .col-sm-5 {-webkit-flex-basis: 41.666666667%; -ms-flex-preferred-size: 41.666666667%; flex-basis: 41.666666667%; max-width: 41.666666667%; }
  .col-sm-6 {-webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-sm-7 {-webkit-flex-basis: 58.333333333%; -ms-flex-preferred-size: 58.333333333%; flex-basis: 58.333333333%; max-width: 58.333333333%; }
  .col-sm-8 {-webkit-flex-basis: 66.666666667%; -ms-flex-preferred-size: 66.666666667%; flex-basis: 66.666666667%; max-width: 66.666666667%; }
  .col-sm-9 {-webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-sm-10 {-webkit-flex-basis: 83.333333333%; -ms-flex-preferred-size: 83.333333333%; flex-basis: 83.333333333%; max-width: 83.333333333%; }
  .col-sm-11 {-webkit-flex-basis: 91.666666667%; -ms-flex-preferred-size: 91.666666667%; flex-basis: 91.666666667%; max-width: 91.666666667%; }
  .col-sm-12 {-webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-sm-offset-1 {margin-left: 8.333333333%; max-width: 8.333333333%; }
  .col-sm-offset-2 {margin-left: 16.666666667%; max-width: 16.666666667%; }
  .col-sm-offset-3 {margin-left: 25%; }
  .col-sm-offset-4 {margin-left: 33.333333333%; }
  .col-sm-offset-5 {margin-left: 41.666666667%; }
  .col-sm-offset-6 {margin-left: 50%; }
  .col-sm-offset-7 {margin-left: 58.333333333%; }
  .col-sm-offset-8 {margin-left: 66.666666667%; }
  .col-sm-offset-9 {margin-left: 75%; }
  .col-sm-offset-10 {margin-left: 83.333333333%; }
  .col-sm-offset-11 {margin-left: 91.666666667%; }
  .start-sm {-webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; text-align: start; }
  .center-sm {-webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
  .end-sm {-webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; text-align: end; }
  .top-sm {-webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .middle-sm {-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .bottom-sm {-webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .around-sm {-webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .between-sm {-webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .first-sm {-webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .last-sm {-webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
}

@media only screen and (min-width: 62em) {
  .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12 {-moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; padding-right: 0.5rem; padding-left: 0.5rem; -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-md {-webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-md-1 {-webkit-flex-basis: 8.333333333%; -ms-flex-preferred-size: 8.333333333%; flex-basis: 8.333333333%; max-width: 8.333333333%; }
  .col-md-2 {-webkit-flex-basis: 16.666666667%; -ms-flex-preferred-size: 16.666666667%; flex-basis: 16.666666667%; max-width: 16.666666667%; }
  .col-md-3 {-webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-md-4 {-webkit-flex-basis: 33.333333333%; -ms-flex-preferred-size: 33.333333333%; flex-basis: 33.333333333%; max-width: 33.333333333%; }
  .col-md-5 {-webkit-flex-basis: 41.666666667%; -ms-flex-preferred-size: 41.666666667%; flex-basis: 41.666666667%; max-width: 41.666666667%; }
  .col-md-6 {-webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-md-7 {-webkit-flex-basis: 58.333333333%; -ms-flex-preferred-size: 58.333333333%; flex-basis: 58.333333333%; max-width: 58.333333333%; }
  .col-md-8 {-webkit-flex-basis: 66.666666667%; -ms-flex-preferred-size: 66.666666667%; flex-basis: 66.666666667%; max-width: 66.666666667%; }
  .col-md-9 {-webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-md-10 {-webkit-flex-basis: 83.333333333%; -ms-flex-preferred-size: 83.333333333%; flex-basis: 83.333333333%; max-width: 83.333333333%; }
  .col-md-11 {-webkit-flex-basis: 91.666666667%; -ms-flex-preferred-size: 91.666666667%; flex-basis: 91.666666667%; max-width: 91.666666667%; }
  .col-md-12 {-webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-md-offset-1 {margin-left: 8.333333333%; }
  .col-md-offset-2 {margin-left: 16.666666667%; }
  .col-md-offset-3 {margin-left: 25%; }
  .col-md-offset-4 {margin-left: 33.333333333%; }
  .col-md-offset-5 {margin-left: 41.666666667%; }
  .col-md-offset-6 {margin-left: 50%; }
  .col-md-offset-7 {margin-left: 58.333333333%; }
  .col-md-offset-8 {margin-left: 66.666666667%; }
  .col-md-offset-9 {margin-left: 75%; }
  .col-md-offset-10 {margin-left: 83.333333333%; }
  .col-md-offset-11 {margin-left: 91.666666667%; }
  .start-md {-webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; text-align: start; }
  .center-md {-webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
  .end-md {-webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; text-align: end; }
  .top-md {-webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .middle-md {-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .bottom-md {-webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; } .around-md {-webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .between-md {-webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-cntent: space-between; }
  .first-md {-webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .last-md {-webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
}

@media only screen and (min-width: 75em) {
  .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12 {-moz-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 0; -webkit-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; padding-right: 0.5rem; padding-left: 0.5rem; }
  .col-lg {-webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; max-width: 100%; }
  .col-lg-1 {-webkit-flex-basis: 8.333333333%; -ms-flex-preferred-size: 8.333333333%; flex-basis: 8.333333333%; max-width: 8.333333333%; }
  .col-lg-2 {-webkit-flex-basis: 16.666666667%; -ms-flex-preferred-size: 16.666666667%; flex-basis: 16.666666667%; max-width: 16.666666667%; }
  .col-lg-3 {-webkit-flex-basis: 25%; -ms-flex-preferred-size: 25%; flex-basis: 25%; max-width: 25%; }
  .col-lg-4 {-webkit-flex-basis: 33.333333333%; -ms-flex-preferred-size: 33.333333333%; flex-basis: 33.333333333%; max-width: 33.333333333%; }
  .col-lg-5 {-webkit-flex-basis: 41.666666667%; -ms-flex-preferred-size: 41.666666667%; flex-basis: 41.666666667%; max-width: 41.666666667%; }
  .col-lg-6 {-webkit-flex-basis: 50%; -ms-flex-preferred-size: 50%; flex-basis: 50%; max-width: 50%; }
  .col-lg-7 {-webkit-flex-basis: 58.333333333%; -ms-flex-preferred-size: 58.333333333%; flex-basis: 58.333333333%; max-width: 58.333333333%; }
  .col-lg-8 {-webkit-flex-basis: 66.666666667%; -ms-flex-preferred-size: 66.666666667%; flex-basis: 66.666666667%; max-width: 66.666666667%; }
  .col-lg-9 {-webkit-flex-basis: 75%; -ms-flex-preferred-size: 75%; flex-basis: 75%; max-width: 75%; }
  .col-lg-10 {-webkit-flex-basis: 83.333333333%; -ms-flex-preferred-size: 83.333333333%; flex-basis: 83.333333333%; max-width: 83.333333333%; }
  .col-lg-11 {-webkit-flex-basis: 91.666666667%; -ms-flex-preferred-size: 91.666666667%; flex-basis: 91.666666667%; max-width: 91.666666667%; }
  .col-lg-12 {-webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; max-width: 100%; }
  .col-lg-offset-1 {margin-left: 8.333333333%; }
  .col-lg-offset-2 {margin-left: 16.666666667%; }
  .col-lg-offset-3 {margin-left: 25%; }
  .col-lg-offset-4 {margin-left: 33.333333333%; }
  .col-lg-offset-5 {margin-left: 41.666666667%; }
  .col-lg-offset-6 {margin-left: 50%; }
  .col-lg-offset-7 {margin-left: 58.333333333%; }
  .col-lg-offset-8 {margin-left: 66.666666667%; }
  .col-lg-offset-9 {margin-left: 75%; }
  .col-lg-offset-10 {margin-left: 83.333333333%; }
  .col-lg-offset-11 { margin-left: 91.666666667%; }
  .start-lg {-webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; text-align: start; }
  .center-lg {-webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }
  .end-lg {-webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; text-align: end; }
  .top-lg {-webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .middle-lg {-webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .bottom-lg {-webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .around-lg { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .between-lg { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .first-lg { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .last-lg { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
}
/* /FLEXBOX GRID */

@media only screen and (min-width:1200px){
  .show-phone{display:none}
  .show-tablet{display:none}
  .show-screen{display:inherit}
  .hide-phone{display:inherit}
  .hide-tablet{display:inherit}
  .hide-screen{display:none}
}

@media only screen and (min-width: 768px) and (max-width: 959px){
  .show-phone{display:none}
  .show-tablet{display:inherit}
  .show-screen{display:none}
  .hide-phone{display:inherit}
  .hide-tablet{display:none}
  .hide-screen{display:inherit}
}

@media only screen and (max-width: 767px){
  .show-phone{display:inline-block}
  .show-tablet{display:none}
  .show-screen{display:none}
  .hide-phone{display:none}
  .hide-tablet{display:inherit}
  .hide-screen{display:inherit}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .show-phone,.hide-tablet,.hide-screen{display:inline-block}
  .show-tablet,.show-screen,.hide-phone{display:none}
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}
body, html{height:100%;width:100%; overflow: hidden}
body{margin:0;padding:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none; font-family: "Montserrat", "Century Gothic", Helvetica, Arial, sans-serif;font-size: 12px; }
body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}

a{text-decoration:underline;outline:0}
a.btn{text-decoration:none;}
ul{list-style:disc;}
ul.square li,ul.circle li{margin:0 0 .3em .6em}
ul:not(.none) li{padding:0;background:none}
ul.empty{list-style:none outside;margin:0}
ul.square,ul.square ul{list-style:square outside}
ul.circle,ul.circle ul{list-style:circle outside}
ol{margin:0 0 .3em .6em;list-style:decimal;}
ol li{padding:0}
ul ul,ol ul,ul ol,ol ol{margin:.5em;}
ul ul li,ol ul li,ul ol li,ol ol li{margin:0 0 .3em 0}

.scroll{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}
.scroll.horizontal{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}
.clear{clear:both}
.on-left{float:left}
.on-right{float:right}
.block{display:block}
.inline{display:inline-block}
.none{display:none}
.margin-none{margin:0}

/* ============= INPUTS ============= */
.input{ -webkit-transition: background-color 1000ms cubic-bezier(0.000, 1, 0.615, 1.000); /* older webkit */ -webkit-transition: background-color 1000ms cubic-bezier(0.000, 1.650, 0.615, 1.000); -moz-transition: background-color 1000ms cubic-bezier(0.000, 1.650, 0.615, 1.000); -ms-transition: background-color 1000ms cubic-bezier(0.000, 1.650, 0.615, 1.000); -o-transition: background-color 1000ms cubic-bezier(0.000, 1.650, 0.615, 1.000); transition: background-color 1000ms cubic-bezier(0.000, 1.650, 0.615, 1.000); }
input[type="email"].input, input[type="tel"].input, input[type="number"].input, input[type="text"].input, select.input, textarea.input, input[type="password"].input, input[type="search"].input, input[type="file"].input, input[type="url"].input  {-webkit-appearance:none; border:none; border-radius: 2px}
input[type="text"].input,  input[type="email"].input, input[type="tel"].input, input[type="number"].input, select.input,  textarea.input,  input[type="password"].input,  input[type="search"].input, input[type="url"].input { padding: 4px 0.65rem; width: 100%; font-size: 1em; background-color: #FFFFFF; border: 1px solid #FFFFFF }
select.input, select.input:active, select.input:focus {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iNSAyNSA5MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggaWQ9IlJpZ2h0X0NoZXZyb25fM18iIGZpbGw9IiM1QTVBNUEiIGQ9Ik00Ni44LDczLjdjMS44LDEuOCw0LjcsMS44LDYuNCwwbDQwLjMtNDBjMi0yLDItNS4yLDAtNy4xcy01LjItMi03LjIsMEw1My4yLDU5LjQgYy0xLjgsMS44LTQuNywxLjgtNi40LDBMMTMuNywyNi42Yy0yLTItNS4yLTItNy4yLDBzLTIsNS4yLDAsNy4xTDQ2LjgsNzMuN3oiLz48L3N2Zz4=) no-repeat 98% center #FFF; background-size: 12px 25px; width:100%; padding:4px 20px 4px .65rem; border: 1px solid #FFFFFF}
select.input > option {  -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; display: block; height: 1.5em; padding:0 .25rem; line-height: 1.5em; color: #74726e; width: 100%; }
html[data-useragent*='MSIE 10.0'] select.input, html[data-useragent*='Firefox'] select.input { background-image: none; padding:4px .25rem; }
textarea.input {min-height:110px; max-height:120px; min-width:100%; max-width:100%;}
input[readonly].input, input[readonly="readonly"].input, *[readonly="readonly"].input  {background-color:#e8e8e8; color:#ffffff}

input[type='range'].input { width: 100% }
input[type='range'].input{-webkit-appearance: none; border-radius: 10px; background-color: #c9cdd5; height: 5px; vertical-align: middle; }
input[type='range'].input::-moz-range-track {-moz-appearance: none; border-radius: 10px; background-color: #c9cdd5; height: 5px; }
input[type='range'].input::-webkit-slider-thumb {-webkit-appearance: none !important; border-radius: 100%; background-color: #7db1f2; border: none; height: 20px; width: 20px; }
input[type='range'].input:hover::-webkit-slider-thumb{ height: 22px; width: 22px }
input[type='range'].input::-moz-range-thumb {-moz-appearance: none; border-radius: 100%; background-color: #7db1f2; border: none; height: 25px; width: 25px; }
input[type='range'].input + LABEL {display: block; width: 100%; text-align: center; font-size: .8em; margin-top: 3px;}

.input:focus { border-color: #c0d5f2 !important; }
.input.warning {background-color: #fffa68}
.input.danger {background-color: #f87777; color:#8f2b2b;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none; margin: 0; }

label.label{ font-size: 1em; padding-left: .25rem; font-weight: 300; text-align: left; width: 100%; display: block;}
.dark-label {color: #444 !important;}

.label + .input {margin-top: 2px}

.radio, .checkbox{display: inline-block; width: 100%; text-align: left; cursor: pointer; font-family: "Montserrat", "Century Gothic", Helvetica, Arial, sans-serif; font-weight: 300; padding-left: 0px; line-height: 25px;}

.radio > input[type='radio'], .checkbox > input[type='checkbox'] {
  position: absolute;
  top: -15000px;
}
.radio > i, .checkbox > i {font-family: 'ElegantIcons'; font-size: 22px; display: inline-block; float: left; margin-right: 10px;}

.radio > i:before {
  content: "\5b";
}
.radio > input[type='radio']:checked + i:before {
  content: "\5c";
}

.checkbox > i:before {
  content: "\56";
}
.checkbox > input[type='checkbox']:checked + i:before {
  content: "\5a";
}

.radio.white, .checkbox.white {color:#fff;}
.radio.dark, .checkbox.middle {color:#c9cdd5;}

@media only screen and (max-width: 767px){
  /* INPUTS MOBILE */
    input[type="text"].input, input[type="email"].input, input[type="tel"].input, input[type="number"].input, select.input,  textarea.input,  input[type="password"].input,  input[type="search"].input, input[type="url"].input {padding:7px 0.25rem; font-size:1em}
    select.input, select.input:active, select.input:focus {padding:7px 20px 7px .25rem;}
    html[data-useragent*='MSIE 10.0'] select.input, html[data-useragent*='Firefox'] select.input { background-image: none; padding:7px .25rem; }
  /* /INPUTS MOBILE */
}
/* /============ INPUTS ============= */

/* ============ BOOTSTRAP COLORS ============= */
.btn-warning {
  color: #FFF;
  background-color: #F4DF52;
  border-color: #FFFFFF;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #FFF;
  background-color: #EACC06;
  border-color: #FFFFFF;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #FAEF71;
  border-color: #FFFFFF;
}

.btn-warning .badge {
  color: #FAEF71;
  background-color: #FFF;
}
/* /============ BOOTSTRAP COLORS ============= */
